* {
    margin: 0;
    padding: 0;
}

/*====================Header===============================*/

.header {
    background:
                url('../img/img-header1.png') no-repeat -20vh 0/499px 100%,
                url('../img/frame-header.png') no-repeat 120vh 0/264px 547px,
                url('../img/image-header2.png') no-repeat right 0/499px 100%
                black;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
}

.total-container {
    /* background: seagreen; */
    width: 96%;
    height: 90%;
}

.logtype {
    /* background: chocolate; */
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-header {
    /* background: cornflowerblue; */
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


[class^='block-'] {
    /* background: crimson; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.block-left {
    width: 50%;
    height: 90%;
    margin: 0 40px 0 0;
}

.block-right {
    width: 30%;
    height: 100%;
    /* margin-left: 20vh; */
}

.block-left h1 {
    /* background: chartreuse; */
    width: 60%;
    height: 39%;
    font-family: Avenir Next LT Pro;
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    margin-left: 8vh;
}

.block-left p {
    /* background: rgb(121, 126, 133); */
    width: 70%;
    height: 50%;
    font-family: Avenir Next LT Pro;
    font-size: 15px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3vh;
    margin-left: 18vh;
}

.forms-header {
    /* background: chartreuse; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.all-forms {
    /* background: white; */
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: -10vh;
    margin-top: -17vh;
}

.up {
    /* background:darkblue; */
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

[class^="form-"] {
    /* background: blueviolet; */
    margin: 0 5px;
    margin-top: 4vh;
    height: 87%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

[class^="form-"] input {
    height: 30%;
    width: 100%;
    margin: 5px 0;
}

.down {
    /* background: cyan; */
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.down input {
    height: 50%;
    width: 94%;
    margin-left: 10px;
    margin-top: 10px;
}

.down button {
    background: #A288A8;
    display: flex;
    width: 30%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

/*====================body===============================*/
.content-wraper {
    background:
            url('../img/imagen-lateral.png') no-repeat 25vh  0/464px 8vh,
            url('../img/image\ 2.png') no-repeat 126vh 71vh / 80vh 8.5vh,
            url('../img/image\ 3.png') no-repeat 1vh 100vh / 26vh 70vh,
            url('../img/image\ 8.png') no-repeat 178vh 160vh / 40vh 25vh,
            url('../img/image\ 7.png') no-repeat  0vh 170vh / 100% 40vh,
            url('../img/Rectangle\ 25.png') no-repeat  100vh 84vh / 138vh 140vh,
            url('../img/Rectangle\ 26.png') no-repeat  100vh 84vh / 138vh 140vh

            
            
        ;
    height: 210vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.principal-content{
    /* background: cornflowerblue; */
    height: 98%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.principal-up{
    background:
            url('../img/image\ 10.png')no-repeat 159vh 25vh / 90vh 13vh
         #FAFAFA
        ;
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -7vh;
}

.right-up{
    /* background-color: darkorange; */
    height: 90%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.right-up img {
    width: 70%;
    height: 90%;
    margin-left: 4%;
}

.left-up{
    /* background-color: darkseagreen; */
    height: 90%;
    width: 35%;
}

.left-up h2{
    font-family: Avenir Next LT Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 43px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    margin-left: 8vh;
    color: #AC5A5A;
}

.left-up p{
    font-family: Avenir Next LT Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    margin-left: 8vh;
    color: #6A6A6A;
}
.two-buttons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 14px 51px
    
}

.two-buttons button{
    background: #A288A8;
    width: 159px;
    height: 30px;
    margin-left: 5%;
    margin-top: 9px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    
}

.two-buttons #editable {
    background:transparent;
    width: 159px;
    height: 30px;
    margin-left: 5%;
    margin-top: 9px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    color: #A288A8;
}


.principal-down{
    /* background: darkblue; */
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

[class^="box-"] {
    /* background: springgreen; */
    width: 100%;
    margin: 10px 0;
}

.box-up {
    height: 35;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 13vh;
}

.box-up h2{
    font-family: Avenir Next LT Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #AC5A5A;


}

.box-up p{
    font-family: Avenir Next LT Pro;
    font-style: normal;
    font-weight: normal;
    width: 40%;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #6A6A6A;
}

.box-down {
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

[id^="editable-card-"] {
    height: 70%;
    margin: 0 10px;
    
    
}



#editable-card-1{
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 50px;

}


#editable-card-2{
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 50px;
  
}
#editable-card-3{
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 50px;
  
}

#editable-card-1:hover {filter: opacity(.5);}
#editable-card-2:hover {filter: opacity(.5);}
#editable-card-3:hover {filter: opacity(.5);}

.card-title h2{
    font-family: Avenir Next LT Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.05em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
}

.card-title h5{
    
    text-transform: uppercase; 
    font-family: Avenir Next LT Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #000000;
    
}

.card-text{
    font-family: Avenir Next LT Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #000000;

}



/*====================footer===============================*/

.footer {
    background:black;
    height: 70vh;
}

.footer-title{
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.text-footer{
    font-family: Avenir Next LT Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 135.8%;
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #E5E5E5;

}

.file-img{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    height: 30vh;
    margin-top: 5vh;
    
}

.barras1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;

}



    
    